<app-add-todo (addTodo)="addTodo($event)"></app-add-todo>
<!-- <app-todo-item *ngFor="let todo of todos" [todo]="todo" (deleteTodo)="deleteTodo($event)"></app-todo-item>  -->
<nz-table>
  <thead>
    <tr>
      <th>Title</th>
      
      <th>Action</th>
    </tr>
    
  </thead>
  <tbody>
    <tr app-todo-item *ngFor="let todo of todos" class="editable-row" app-todo-item>
      <td>{{todo.title}} </td> 
      <td>       
        <nz-divider nzType="vertical"></nz-divider>
        <!-- <button (click)="onDelete(todo)" nz-button nzType="primary">Delete</button> -->
        <button (deleteTodo)="deleteTodo($event)"  nz-button nzType="primary">Delete</button>
      </td>  
    </tr>
  </tbody>
</nz-table>

<!-- <nz-table >
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Address</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>chandra</td>
      <td>22</td>
      <td>madhavaram</td>
      <td>
        <a>Action 一 chandra</a>
        <nz-divider nzType="vertical"></nz-divider>
        <a>Delete</a>
      </td>
    </tr>
  </tbody>
</nz-table> -->
  
